body {
    margin: 0px;
    font-family: cursive;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../img/DeathStranding.jpg);
    user-select: none;
}

#app {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 60px auto 7%;
    height: 100vh;
    grid-gap: 10px;
    max-width: 2000px;
    margin: 0 auto;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

header,
#autograph {
    text-align: center;
}

footer {
    text-align: right;
    padding: 10px;
    margin: 0px;
}

#person_1 {
    float: right;
}

figure,
#person_1 {
    padding: 5px 5px 0px;
    margin: 50px 10px 0px;
}

#person_1,
footer,
a {
    color: aliceblue;
}

figure {
    display: inline-block;
}

img {
    border-radius: 20px;
}